# Configure Atlas API access -- see https://docs.atlas.mongodb.com/configure-api-access/
export ATLAS_API_PUBLIC_KEY="[api public key]"
export ATLAS_API_PRIVATE_KEY="[api private key]"
export ATLAS_CONN_STR="[mongodb+srv://user:pwd@cluster.xxxxx.mongodb.net/]"   # no DB suffix!

# Atlas Cluster
export ATLAS_GROUP_ID="[atlas project id]"
export ATLAS_CLUSTER_NAME="[atlas cluster name]"
