# Configure Atlas API access -- see https://docs.atlas.mongodb.com/configure-api-access/
ATLAS_API_PUBLIC_KEY="***REMOVED***"
ATLAS_API_PRIVATE_KEY="***REMOVED***"

# Atlas Cluster
ATLAS_GROUP_ID="***REMOVED***"
ATLAS_REGION="US_EAST_1" # change as desired
CLUSTER_NAME="game-main" # do not change -- has to match Realm app > services > mongodb-atlas > config.json > "config.clusterName"
