.trial-summary {
    padding: 0 0 2em 2em;
}

.trial-detail {
    padding: 2em;
}

.trial-detail-header {
    display: flex;
    justify-content: space-between;
}

.section-start {
    padding-top: 1em;
}

.section-end {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.icon.summary {
    background: #b97dc9;
    color: #303030;
    text-shadow: none;
    margin: 0 0.325em 0 0;
    border-radius: 50%;
    font-size: 0.8em;
    padding: 0.325em 0.4em 0.275em 0.4em;
}

.icon.detail {
    background: #b97dc9;
    color: #fff;
    text-shadow: none;
    margin: 0 0.325em 0 0;
    border-radius: 50%;
    font-size: 0.8em;
    padding: 0.325em 0.4em 0.275em 0.4em;
}

.two-thirds {
    padding-top: 2em;
}
.two-thirds h1 {
    padding-bottom: 0.5em;
    padding-left: 2em;
    text-indent: -2em;
}

.map {
    padding: 0;
    margin-bottom: -2em;
}

.one-third {
    padding: 2em;
    background-color: #b97dc9;
}

h2.summary {
    font-weight: 400 !important;
    color: #fff;
}

h5.summary {
    font-size: 1em;
    font-weight: 600 !important;
}

::ng-deep .map-container {
    height: 100% !important;
    width: 100% !important;
}

:host ::ng-deep p > a {
    color: #000 !important;      
}

:host ::ng-deep .code-view-container {
    float: right !important;
}
