<div class="body-bg">
  <div fxFlex fxLayout="row" class="trial-summary" fxLayoutGap="2em">
    <div fxFlex fxLayout="column" class="two-thirds" fxFlex="66">
      <h1>
        <fa-icon [icon]="faChartLine" class="icon summary"></fa-icon>
        {{ trial?.brief_title ? trial.brief_title : "Placeholder title for trial " + nctId}}
      </h1>
      <div fxFlex fxLayout="row" fxLayoutGap="10px">
        <div class="one-third" fxFlex="33">
          <h5 class="summary">Trial Started</h5>
          <h2 class="summary">{{ trial && trial.start_date ? (trial.start_date | date:'longDate') : "Placeholder date"}}
          </h2>
        </div>
        <div class="one-third" fxFlex="33">
          <h5 class="summary">Enrollment</h5>
          <h2 class="summary">{{ trial?.enrollment && trial?.enrollment > 0 ? ((trial.enrollment | number) + " - " + trial.gender + " Gender") : (trial?.enrollment ? (trial.gender + " Gender") : trial.gender + " Gender") }}</h2>
        </div>
        <div class="one-third" fxFlex="33">
          <h5 class="summary">Recruitment Status</h5>
          <h2 class="summary">{{ trial?.status ? trial.status : "Placeholder status"}}</h2>
        </div>
      </div>
    </div>
    <div fxFlex="34" fxLayoutAlign="center center" class="map">
      <div *ngIf="googleMapsApiLoaded | async" style="width: 700%; height: 100%;">
        <google-map [zoom]="zoom" [center]="center" [options]="mapOptions">
            <map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [title]="marker.title"
            ></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>
<div>
  <div fxLayout="column" fxFlex="75" class="trial-detail">
    <div fxLayout="row" fxLayout.xs="column" class="trial-detail-header">
      <h2>
        <fa-icon [icon]="faChartLine" class="icon detail"></fa-icon>
        Trial Overview
      </h2>
      <div class="code-view-container">
        <button mat-mini-fab color="primary" aria-label="View facet code" (click)="openDialog('count')">
          <mat-icon>code</mat-icon>
        </button>
      </div>
      </div>
    <!-- trial dates -->
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="15" fxFlex.xs="85" fxFlexOrder="1">
        <p class="label">Trial dates</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15" fxFlexOrder="2">
        <div>{{ trial && trial.start_date ? (trial.start_date | date: 'MM/dd/yyyy') : 'TBD' }}
          <span class="range">→</span>
          {{ trial && trial.completion_date && trial.completion_date !== "1970-01-01T00:00:00Z" ? (trial.completion_date | date: 'MM/dd/yyyy') : 'TBD' }}
        </div>
      </div>
    </div>
    <!-- conditions -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.condition">
      <div fxFlex="15" fxFlex.xs="85" fxFlexOrder="1">
        <p class="label">Condition</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15" fxFlexOrder="2">
        <div *ngIf="trial && isArray(trial.condition)">
          <p style="display: inline; line-height: 2;" *ngFor="let condition of trial.condition">
            {{ condition }}
            <fa-icon [icon]="faStethoscope" class="icon condition"></fa-icon>
          </p>
        </div>
        <div *ngIf="trial && !isArray(trial.condition)">
          <p>{{ trial.condition }}
            <fa-icon [icon]="faStethoscope" class="icon condition"></fa-icon>
          </p>
        </div>
      </div>
    </div>
    <!-- drugs -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="(trial?.intervention === 'Drug' && trial?.intervention_mesh_term) || trial?.intervention_mesh_term">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Drug</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div *ngIf="isArray(trial.intervention_mesh_term)">
          <p style="display: inline; line-height: 1.4;" *ngFor="let drug of trial.intervention_mesh_term">
            <a class="facet-filter">{{ drug }}</a>
            <a [routerLink]="['/drugs']" [queryParams]="{q: drug}">
              <fa-icon [icon]="faFlask" class="icon drug"></fa-icon>
            </a>
          </p>
        </div>
        <div *ngIf="!isArray(trial.intervention_mesh_term)">
          <span *ngFor="let drug of trial.intervention_mesh_term">
            <a class="facet-filter">{{ drug }}</a>
            <fa-icon [icon]="faFlask" class="icon drug"></fa-icon>
          </span>
        </div>
      </div>
    </div>
    <!-- sponsors -->
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="15" fxFlex.xs="85" *ngIf="trial && trial.sponsors && trial.sponsors.agency">
        <p class="label">Sponsor</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15" *ngIf="trial && trial.sponsors && trial.sponsors.agency">
        <div>
          <p style="display: inline; line-height: 2;">{{ trial.sponsors.agency }}
            <fa-icon [icon]="faPlus" class="icon info"></fa-icon>
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" class="section-end">
      <div fxFlex="15" fxFlex.xs="85" *ngIf="trial && trial.sponsors && trial.sponsors.agency">
        <p class="label">Sponsor Address</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15" *ngIf="trial && trial.sponsors && trial.sponsors.agency">
        <div>
          <p>{{ sponsorAddress }}</p>
        </div>
      </div>
    </div>
    <!-- genders -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.gender" class="section-start">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Eligible Genders</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div>
          <p style="display: inline; line-height: 2;">{{ trial.gender }}
          </p>
        </div>
      </div>
    </div>
    <!-- ages -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.minimum_age" class="section-end">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Eligible Age</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div>
          <p style="display: inline; line-height: 2;">{{ trial.minimum_age }} Years
            <span *ngIf="trial.maximum_age">&nbsp;- {{ trial.maximum_age }} Years</span>
            <span *ngIf="!trial.maximum_age"> and older</span>
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.maximum_age && !trial.minimum_age">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Eligible Age</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div>
          <p style="display: inline; line-height: 2;">Up to {{ trial.maximum_age }} Years</p>
        </div>
      </div>
    </div>
    <!-- description -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.detailed_description" class="section-start section-end">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Description</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div>
          <p style="display: inline; line-height: 2;">{{ trial.detailed_description }}
          </p>
        </div>
      </div>
    </div>
    <!-- source -->
    <div fxLayout="row" fxLayout.xs="column" *ngIf="trial && trial.url" class="section-start">
      <div fxFlex="15" fxFlex.xs="85">
        <p class="label">Source</p>
      </div>
      <div fxFlex="85" fxFlex.xs="15">
        <div>
          <a [attr.href]="trial.url" class="trial-link">{{ trial.url }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
