<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="body-bg" style="margin: 0 auto; width: 80%;">
  <!-- filter tags -->
  <div class="filter-tags">
    <!-- condition filters -->
    <mat-chip-list aria-label="Condition Filters" style="display: inline-block; justify-content: center;" removeable="true"
      *ngIf="conditionFilters.length > 0">
      <mat-label class="chip-list">Condition</mat-label>
      <mat-chip *ngFor="let filter of conditionFilters" [selectable]="selectable" [removable]="removable"
        (removed)="removeFilter(filter, conditionFilters)">
        <!--mat-icon *ngIf="objectKeys(filter)[0] === 'condition'" fontSet="fas" fontIcon="fa-stethoscope" class="icon chip"></-mat-icon>
        <mat-icon-- *ngIf="objectKeys(filter)[0] === 'intervention'" fontSet="fas" fontIcon="fa-medkit" class="icon chip"></mat-icon-->
        {{ objectValues(filter) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list aria-label="Sponsor Filters" style="display: inline-block; justify-content: center;" removeable="true"
      *ngIf="sponsorFilters.length > 0">
      <mat-label class="chip-list">Sponsor</mat-label>
      <mat-chip *ngFor="let filter of sponsorFilters" [selectable]="selectable" [removable]="removable"
        (removed)="removeFilter(filter, sponsorFilters)">
        {{ objectValues(filter) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list aria-label="Intervention Filters" style="display: inline-block; justify-content: center;" removeable="true"
      *ngIf="interventionFilters.length > 0">
      <mat-label class="chip-list">Intervention</mat-label>
      <mat-chip *ngFor="let filter of interventionFilters" [selectable]="selectable" [removable]="removable"
        (removed)="removeFilter(filter, interventionFilters)">
        {{ objectValues(filter) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list aria-label="Product Filters" style="display: inline-block; justify-content: center;" removeable="true"
      *ngIf="productFilters.length > 0">
      <mat-label class="chip-list">Products</mat-label>
      <mat-chip *ngFor="let filter of productFilters" [selectable]="selectable" [removable]="removable"
        (removed)="removeFilter(filter, productFilters)">
        {{ objectValues(filter) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list aria-label="Status Filters" style="display: inline-block; justify-content: center;" removeable="true"
      *ngIf="statusFilters.length > 0">
      <mat-label class="chip-list">Status</mat-label>
      <mat-chip *ngFor="let filter of statusFilters" [selectable]="selectable" [removable]="removable"
        (removed)="removeFilter(filter, statusFilters)">
        {{ objectValues(filter) }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <span class="clear-all" *ngIf="(conditionFilters.length + sponsorFilters.length + interventionFilters.length + productFilters.length + statusFilters.length) > 1" (click)="onClearAll()">Clear all</span>
  </div>
  <!-- chart cards -->
  <div fxLayout="row wrap" fxLayoutGap="2em grid">
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-header style="width: 100%;">
          <mat-card-title>
            <fa-icon [icon]="faStethoscope" class="icon condition"></fa-icon>Condition
          </mat-card-title>          
          <div class="code-view-container">
            <button mat-mini-fab color="primary" aria-label="View chart code" (click)="openDialog('condition')">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div id="condition-chart" style="width: 100%; height: 400px;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <fa-icon [icon]="faPlus" class="icon info"></fa-icon>Sponsor / Collaborator
          </mat-card-title>
          <div class="code-view-container">
            <button mat-mini-fab color="primary" aria-label="View chart code" (click)="openDialog('sponsor')">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div id="sponsor-chart" style="width: 100%; height: 400px;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <fa-icon [icon]="faMedkit" class="icon intervention"></fa-icon>Intervention
          </mat-card-title>
          <div class="code-view-container">
            <button mat-mini-fab color="primary" aria-label="View chart code" (click)="openDialog('intervention')">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div id="intervention-chart" style="width: 100%; height: 400px;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <fa-icon [icon]="faFlask" class="icon drug"></fa-icon>Products
          </mat-card-title>
          <div class="code-view-container">
            <button mat-mini-fab color="primary" aria-label="View chart code" (click)="openDialog('drug')">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div id="product-chart" style="width: 100%; height: 400px;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <fa-icon [icon]="faUserPlus" class="icon status"></fa-icon>Recruitment
          </mat-card-title>
          <div class="code-view-container">
            <button mat-mini-fab color="primary" aria-label="View chart code" (click)="openDialog('status')">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div id="status-chart" style="width: 100%; height: 400px;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100%">
      <div class="dash-summary">
        <a [routerLink]="['/trials']" [queryParams]="trialLinkFilters" class="view-trials">
          <h2>{{ facetCount | number}} clinical trials match the above criteria. <span>View Now.</span>
          </h2>
        </a>
      </div>
      <div class="code-view-container" style="margin-left: 60vw;">
        <button mat-mini-fab color="primary" aria-label="View facet code" (click)="openDialog('count')">
          <mat-icon>code</mat-icon>
        </button>
      </div>
    <div class="footer"><a href="https://www.clinicaltrials.gov">Data from clinicaltrials.gov</a></div>
    </div>
  </div>
</div>
