<app-scroll-container [more]="hasMore()"
  [scrollOffset]="2500"
  [scrollDelay]="3000"
  (scrolled)="handleScroll($event)">

  <!-- facet list (show only on screen size greater than small) -->
  <div class="body-bg" fxLayout="row" fxFlex="100%" fxFlex.gt-sm="25%" fxHide fxShow.gt-sm>
    <div *ngIf="facetsLoading">
      <mat-progress-spinner [mode]="'indeterminate'"
                            [diameter]="50"
                            [value]="50">
      </mat-progress-spinner>
    </div>
    <div *ngIf="facets" class="sidebar">
      <div class="code-view-container">
        <button mat-mini-fab color="primary" aria-label="View facet code" (click)="openDialog('facets')">
          <mat-icon>code</mat-icon>
        </button>
      </div>
      <h3 class="facetlist">Start Date</h3>
      <table class="facet-table">
        <tbody>
          <ng-container *ngFor="let facet of facets[0].start_date | orderBy: 'name' : true">
            <tr *ngIf="facet.name !== 'other' && facet.count > 0">
              <td><a class="facet-label" (click)="onStartDateFacetClicked(facet.name)">{{ trimTS(facet.name) | date: "yyyy" : "+0800" }}</a></td>
              <td class="count">{{ facet.count }}</td>
            </tr>  
          </ng-container>
        </tbody>
      </table>
      <!--
            <h3 class="facetlist">Completion Date</h3>
            <table class="facet-table">
                <tbody>
                    <tr *ngFor="let facet of facets[0].completion_date">
                        <td><a class="facet-label">{{ facet.name }}</a></td>
                        <td class="count">{{ facet.count }}</td>
                    </tr>
                </tbody>
            </table>
            -->
      <h3 class="facetlist">Conditions</h3>
      <table class="facet-table">
        <tbody>
          <tr *ngFor="let facet of facets[0].conditions">
            <td><a class="facet-label" (click)="onConditionFacetClicked(facet.name)">{{ facet.name }}</a></td>
            <td class="count">{{ facet.count }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="facetlist">Interventions</h3>
      <table class="facet-table">
        <tbody>
          <tr *ngFor="let facet of facets[0].intervention_types">
            <td><a class="facet-label" (click)="onInterventionFacetClicked(facet.name)">{{ facet.name }}</a></td>
            <td class="count">{{ facet.count }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="facetlist">Products</h3>
      <table class="facet-table">
        <tbody>
          <tr *ngFor="let facet of facets[0].interventions">
            <td><a class="facet-label" (click)="onProductFacetClicked(facet.name)">{{ facet.name }}</a></td>
            <td class="count">{{ facet.count }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="facetlist">Sponsors</h3>
      <table class="facet-table">
        <tbody>
          <tr *ngFor="let facet of facets[0].sponsors">
            <td><a class="facet-label" (click)="onSponsorFacetClicked(facet.name)">{{ facet.name }}</a></td>
            <td class="count">{{ facet.count }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="facetlist">Gender</h3>
      <table class="facet-table">
        <tbody>
          <tr *ngFor="let facet of facets[0].genders">
            <td><a class="facet-label" (click)="onGenderFacetClicked(facet.name)">{{ facet.name }}</a></td>
            <td class="count">{{ facet.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- trial list -->
  <div fxLayout="column" fxFlex class="trial-list">
    <!-- paging and stats -->
    <div class="stats" style="padding-top: 1.5em;" *ngIf="trials && trials.length > 0 && searchVariables.searchInput.term.length == 0 && conditionFilters.length == 0 && interventionFilters.length == 0 && productFilters.length == 0 && sponsorFilters.length == 0 && genderFilters.length == 0 && statusFilters.length == 0 && startDateFilters.length == 0">
      Showing 1 - {{trials.length | number}} of {{trials[0].count.total | number}}
      <div class="code-view-container" style="margin-left: auto">
        <button mat-mini-fab color="primary" aria-label="View facet code" (click)="openDialog('trials')">
          <mat-icon>code</mat-icon>
        </button>
      </div>
    </div>
    <div style="padding-top: 1.5em; padding-bottom: 0.5em;"
      *ngIf="searchVariables.searchInput.term.length > 0 || conditionFilters.length > 0 || interventionFilters.length > 0 || productFilters.length > 0 || sponsorFilters.length > 0 || genderFilters.length > 0  || statusFilters.length > 0 || startDateFilters.length > 0">
      <!-- paging and stats -->
      <span class="stats" *ngIf="trials && trials.length > 0">Showing 1 - {{trials.length | number}} of {{trials[0].count.total | number}}</span>
      <div class="code-view-container" style="margin-left: auto;">
        <button mat-mini-fab color="primary" aria-label="View facet code" (click)="openDialog('trials')">
          <mat-icon>code</mat-icon>
        </button>
      </div>  
      <!-- search term -->
      <mat-chip-list aria-label="Term" 
                     style="display: inline-block; justify-content: center;"
                     removeable="true"
                     *ngIf="searchVariables.searchInput.term && searchVariables.searchInput.term.length > 0">
        <mat-label class="chip-list">Find</mat-label>
        <mat-chip [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeSearchTermAndFilters()"
                  *ngIf="' null ' != searchVariables.searchInput.term && searchVariables.searchInput.term.length > 0">
          {{ searchVariables.searchInput.term }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button><!-- add (remove) func -->
        </mat-chip>
      </mat-chip-list>
      <!-- date filters -->
      <mat-chip-list aria-label="Date Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="startDateFilters.length > 0">
        <mat-label class="chip-list">Start Date</mat-label>
        <mat-chip *ngFor="let filter of startDateFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, startDateFilters)">
          {{ objectValues(filter)[0] | date: 'yyyy': "+0800"}}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <!-- condition filters -->
      <mat-chip-list aria-label="Condition Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="conditionFilters.length > 0">
        <mat-label class="chip-list">Condition</mat-label>
        <mat-chip *ngFor="let filter of conditionFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, conditionFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Intervention Type Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="interventionFilters.length > 0">
        <mat-label class="chip-list">Intervention</mat-label>
        <mat-chip *ngFor="let filter of interventionFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, interventionFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Product Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="productFilters.length > 0">
        <mat-label class="chip-list">Product</mat-label>
        <mat-chip *ngFor="let filter of productFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, productFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Sponsor Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="sponsorFilters.length > 0">
        <mat-label class="chip-list">Sponsor</mat-label>
        <mat-chip *ngFor="let filter of sponsorFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, sponsorFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Gender Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="genderFilters.length > 0">
        <mat-label class="chip-list">Gender</mat-label>
        <mat-chip *ngFor="let filter of genderFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, genderFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list aria-label="Status Filters" style="display: inline-block; justify-content: center;" removeable="true"
        *ngIf="statusFilters.length > 0">
        <mat-label class="chip-list">Status</mat-label>
        <mat-chip *ngFor="let filter of statusFilters" [selectable]="selectable" [removable]="removable"
          (removed)="removeFilter(filter, statusFilters)">
          {{ objectValues(filter) }}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <span class="clear-all" *ngIf="(conditionFilters.length + sponsorFilters.length + interventionFilters.length + productFilters.length + genderFilters.length + statusFilters.length) > 1" (click)="onClearAll()">Clear all</span>
    </div>
    <ol class="result-list" *ngIf="trials" class="result-list">
      <li class="result" *ngFor="let trial of trials">
        <div fxLayout="row" fxFlex="100%" class="title">
          <p>
            <a class="trial-link" [routerLink]="['/trials', trial.nct_id]">{{ titleCase(trial.official_title ? trial.official_title : trial.brief_title) }}</a>
          </p>
        </div>
        <!-- trial dates -->
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="15" fxFlex.xs="85" fxFlexOrder="1">
            <p class="label">Trial dates</p>
          </div>
          <div fxFlex="85" fxFlex.xs="15" fxFlexOrder="2">
            <div>{{ trial.start_date ? (trial.start_date | date: 'MM/dd/yyyy') : 'TBD' }}
              <span class="range">→</span>
              {{ trial.completion_date && trial.completion_date !== "1970-01-01T00:00:00Z" ? (trial.completion_date | date: 'MM/dd/yyyy') : 'TBD' }}
            </div>
          </div>
        </div>
        <!-- conditions -->
        <div fxLayout="row" fxLayout.xs="column" *ngIf="trial.condition">
          <div fxFlex="15" fxFlex.xs="85" fxFlexOrder="1">
            <p class="label">Condition</p>
          </div>
          <div fxFlex="85" fxFlex.xs="15" fxFlexOrder="2">
            <div *ngIf="isArray(trial.condition)">
              <p style="display: inline; line-height: 2;" *ngFor="let condition of trial.condition">
                <a class="facet-filter" (click)="onConditionFacetClicked(condition)">{{ condition }}</a>
                <fa-icon [icon]="faStethoscope" class="icon condition"></fa-icon>
              </p>
            </div>
            <div *ngIf="!isArray(trial.condition)">
              <p>{{ trial.condition }}
                <fa-icon [icon]="faStethoscope" class="icon condition"></fa-icon>
              </p>
            </div>
          </div>
        </div>
        <!-- drugs -->
        <div fxLayout="row" fxLayout.xs="column" *ngIf="(trial.intervention === 'Drug' && trial.intervention_mesh_term) || trial.intervention_mesh_term">
          <div fxFlex="15" fxFlex.xs="85">
            <p class="label">Drug</p>
          </div>
          <div fxFlex="85" fxFlex.xs="15">
            <div *ngIf="isArray(trial.intervention_mesh_term)">
              <p style="display: inline; line-height: 1.4;" *ngFor="let drug of trial.intervention_mesh_term">
                <a class="facet-filter" (click)="onProductFacetClicked(drug)">{{ drug }}</a>
                <a [routerLink]="['/drugs']" [queryParams]="{q: drug}">
                <fa-icon [icon]="faFlask" class="icon drug"></fa-icon>
                </a>
              </p>
            </div>
            <div *ngIf="!isArray(trial.intervention_mesh_term)">
              <span *ngFor="let drug of trial.intervention_mesh_term">{{ trial.intervention_mesh_term }}
                <a [routerLink]="['/drugs']" [queryParams]="{q: drug}">
                  <fa-icon [icon]="faFlask" class="icon drug"></fa-icon>
                </a>
              </span>
            </div>
          </div>
        </div>
        <!-- sponsors -->
        <div fxLayout="row" fxLayout.xs="column" *ngIf="trial.sponsors && trial.sponsors.agency">
          <div fxFlex="15" fxFlex.xs="85">
            <p class="label">Sponsor</p>
          </div>
          <div fxFlex="85" fxFlex.xs="15">
            <div>
              <p style="display: inline; line-height: 2;">
                <a class="facet-filter" (click)="onSponsorFacetClicked(trial.sponsors.agency)">{{ trial.sponsors.agency }}</a>
                <fa-icon [icon]="faPlus" class="icon info"></fa-icon>
              </p>
            </div>
          </div>
        </div>
        <!-- status -->
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="15" fxFlex.xs="85" *ngIf="trial.status">
            <p class="label">Status</p>
          </div>
          <div fxFlex="85" fxFlex.xs="15" *ngIf="trial.status">
            <p style="display: inline; line-height: 2;">
              <span *ngIf="trial.status" class="type recruitment">
                <a class="facet-label" (click)="onStatusFacetClicked(trial.status)">{{ trial.status }}</a>
              </span>
              <span class="spacer">&nbsp;</span>
              <span *ngIf="trial.phase && trial.phase !== 'N/A'" class="type phase">
                <a href="CHANGEME">{{ trial.phase }}</a>
              </span>
            </p>
          </div>
        </div>
      </li>
    </ol>
    <div *ngIf="trialsLoading" class="spinner-item" style="height: 100vh;">
      <mat-progress-spinner [mode]="'indeterminate'"
                            [diameter]="50"
                            [value]="50"
                            style="margin: 10px auto auto auto;">
      </mat-progress-spinner>
    </div>
  </div>
</app-scroll-container>
